
<div class="border">
    <div id="text" align="center">
        <h1>欢迎来到学员评分系统</h1>
    <p><h4>为了更好的让老师和学员掌握各个时间段的学习状况，以及老师对学员的评价，
       我们需要一个名为“评分管理系统”在浏览器上实现对成绩的评定、查询。</h4></p>
    </div>
<div id="button" align="center">
        <button onclick="openNewPage()"><h3>GO</h3></button>
</div>
</div>
<script style="text/javascript" src="main.js"></script>
